<mat-card>
    <mat-card-content>
        <div class="header">
            <h2>LOGIN</h2>
        </div>
        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" formControlName="email" name="email" matInput required />
                    <mat-error *ngIf="loginForm.controls['email'].errors">
                        Required email address
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <span class="aLink">Forgot Password?</span>
                <mat-form-field class="full-width" appearance="outline">
                     <mat-label>Password</mat-label>
                     <input formControlName="password" matInput [type] = "hide? 'password': 'text'" required />
                     <!-- <button mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide Password'" [attr.aira-pressed]="hide">
                        <mat-icon>{{ hide? 'visibility_off': visibility }}</mat-icon>
                    </button-->
                    <mat-error *ngIf="loginForm.controls['password'].errors">
                        Password Required
                    </mat-error>
                </mat-form-field>
            </div>
            <button type="Submit" [disabled]="!loginForm.valid" mat-flat-button color="primary">Login</button>
        </form>
    </mat-card-content>
</mat-card>
